.project {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.project-card {
  width: 450px;
  height: 450px;
  height: fit-content;
}

video {
  object-fit: fill;
}
